/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/* Variables */
:root {
  --background-main-color: rgb(240, 240, 240);
}

/* Global declarations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-main-color);
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header section */
header {
  padding: 1.5rem 0;
}
h1 {
  cursor: default;
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
}

/* Main section */
main {
  flex: 1;
  gap: 2.5rem;
}

.sketch-tools,
.sketch-container,
.sketch-colors {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sketch-tools {
  align-items: end;
}
.tools-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.svg {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.svg:hover {
  opacity: 0.7;
}

.eraser.toggle {
  opacity: 0.7;
}

.sketch-container {
  gap: 1.5rem;
}
.sketch {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  min-width: 500px;
  width: 100%;
  aspect-ratio: 1;
}
.sketch-cell {
  /* vars below are made in the script.js file */
  flex-basis: calc(100% / var(--grid-cols));
  flex-basis: calc(100% / var(--grid-rows));
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.range-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}
.range-input::-webkit-slider-runnable-track {
  height: 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
}
.range-input::-moz-range-track {
  height: 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
}
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: calc(0.25rem - 1);
  transform: translateY(-25%);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: black;
}
.range-input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: calc(0.25rem - 1);
  transform: translateY(-25%);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: black;
}

.range-input-text {
  font-family: cursive;
}

.sketch-colors {
  align-items: start;
}
.colors-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  border: none;
  cursor: pointer;
}
.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 15px;
}
.color-input::-moz-color-swatch {
  border: none;
  border-radius: 15px;
}

.rgb-btn {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--background-main-color);
  border: 1px solid black;
  border-radius: 5px;
}
.rgb-btn:hover {
  background-color: rgb(220, 220, 220);
}
.rgb-btn.toggle {
  background-color: rgb(220, 220, 220);
}

/* Footer section */
footer {
  padding: 0.25rem 0;
}
footer a {
  text-decoration: none;
  color: black;
}
